.result-name-card{
    color: #e7e9f0 ;
    background:#282d4f;
    transform: background 0.35s;
    margin: 10px 15px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(225,225,225, 0.1);
    min-width: 75px;
    display: flex;
    justify-content: center;

}

.result-name-card:hover{
    background: #4a5079;
    box-shadow: 0 0 5px  rgb(225,225,225, 0.2);
}

.card-link{
    text-decoration: none;
}
.result-name{
    margin: 0;
    font-weight: 100;
}